body {
	font-family: Lucida Bright Regular, sans-serif;
	margin: 0px;
}
a {
	color: black;
	text-decoration: none;
}
button {
	outline: none;
	background-color: rgba(13,202,242,0.6);
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}
button:hover {
	background-color: rgba(13,202,242,1);
}
ul {
    list-style-type: none;
}