#FAQ_Content {
	height: 10650px;
	padding-right: 0px;
}
.title {
	font-size: 40px;
	padding-top: 3%;
}
.separate-line {
	width: 90%;
	margin-bottom: 4%;
	border: 0.5px solid rgba(200,200,200,0.4);
	border-collapse: collapse;
}
.list {
	position: relative;
	background-color: rgba(220,220,220,0.6);
	left: 5%;
	width: 20%;
}
.topic {
	padding-top: 5%;
	padding-bottom: 5%;
	border-bottom: 1px solid rgba(200,200,200,0.6);
}
.overview, .ordering, .product, .mechanical-watch, .application, .billing,
	.delivery-shipping, .import-taxes-duties, .warranty-returns {
	position: relative;
	left: 27%;
	font-size: 15px;
	width: 67%;
	bottom: 380px;
	text-align: justify;
}
.list_title {
	font-size: 20px;
	border-bottom: 1px solid rgba(200,200,200,0.6);
}
.topic1{
	padding-top: 2%;
	padding-bottom: 2%;
}
.question {
	font-weight: bold;
}
.warranty-returns {
	margin-bottom: 0;
}
p {
	padding-top: 5px;
	padding-bottom: 5px;
}
li {
	padding-top: 5px;
	padding-bottom: 5px;
}
table {
	width: 100%;
	border-bottom: none;
}
td {
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 2%;
	border-bottom: 1px solid rgba(200,200,200,0.6);
}
button {
	outline: none;
	border: none;
	background-color: transparent!important;
}
#FAQ_Content a:hover {
	color: rgba(180,180,180,0.8);
}
#top-button {
	display: none;
	margin: 0;
	padding: 0;
	position: fixed;
	bottom: 10px; 
	right: 10px;
	z-index: 99;
}
@media screen and (max-width: 1300px) {
	#FAQ_Content {
		height: 100%;
	}
	.list {
		position: relative;
		left: 10%;
		width: 80%;
	}
	.topic{
		padding-top: 2%;
		padding-bottom: 2%;
	}
	.overview, .ordering, .product, .mechanical-watch, .application, .billing,
		.delivery-shipping, .import-taxes-duties, .warranty-returns {
		position: relative;
		bottom: 0;
		left: 5%;
		font-size: 15px;
		width: 90%;
		text-align: justify;
	}
}
@media screen and (max-width: 700px) {
	#top-button {
		position: fixed;
		right: 5%;
		bottom: 1%;
		width: 30px;
	}
}