input {
    outline: none;
    border: none;
}

label {
    display: block;
    margin: 0;
}

/*==============================================================*/

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}

/*==============================================================*/

.txt1 {
    font-family: Montserrat-SemiBold;
    font-size: 16px;
    color: #555555;
    line-height: 1.5;
}

.txt2 {
    font-family: Poppins-Regular;
    font-size: 14px;
    color: #999999;
    line-height: 1.5;
}

.bo1 {
    border-bottom: 1px solid #999999;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.form {
    width: 90%;
    margin: 0 auto;
}

.container {
    width: 90%;  
    min-height: 700px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;;
}


.wrap-login {
    width: 80%;
    background: #fff;
    border-radius: 10px;
    position: relative;
}


/*==================================================================
[ Form ]*/

.login-form {
    width: 100%;
}

.sign-in {
    width: 100%;
    display: block;
    font-family: Montserrat-Medium;
    font-size: 39px;
    color: #555555;
    line-height: 1.2;
    text-align: center;
}

/*==============================================================*/

.facebook,
.google {
    font-family: Montserrat-SemiBold;
    font-size: 18px;
    line-height: 1.2;
    position: relative;
    z-index: 1;


    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc((90% - 20px) / 2);
    height: 70px;
    border-radius: 10px;
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.google::before,
.facebook::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 0;
    left: 0;
    background: #a64bf4;
    background: -webkit-linear-gradient(45deg, #00dbde, #fc00ff);
    background: -o-linear-gradient(45deg, #00dbde, #fc00ff);
    background: -moz-linear-gradient(45deg, #00dbde, #fc00ff);
    background: linear-gradient(45deg, #00dbde, #fc00ff);
    opacity: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.facebook {
    color: #fff;
    background-color: #3b5998;
}

.facebook i {
    font-size: 30px;
    margin-right: 17px;
    padding-bottom: 3px;
}

.google {
    color: #555555;
    background-color: #fff;
}

.google img {
    width: 30px;
    margin-right: 15px;
    padding-bottom: 3px;
}

.facebook:hover:before,
.google:hover:before {
    opacity: 1;
}

.facebook:hover,
.google:hover {
    color: #fff;
}

.wrap-input {
    width: 100%;
    position: relative;
    background-color: #f7f7f7;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
}


/*---------------------------------------------*/

.input {
    font-family: Poppins-Regular;
    color: #333333;
    line-height: 1.2;
    font-size: 18px;

    display: block;
    width: 100%;
    background: transparent;
    height: 60px;
    padding: 0 20px;
}
/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input {
    position: absolute;
    display: block;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    pointer-events: none;
    border: 1px solid #fc00ff;
    border-radius: 10px;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;

    -webkit-transform: scaleX(1.1) scaleY(1.3);
    -moz-transform: scaleX(1.1) scaleY(1.3);
    -ms-transform: scaleX(1.1) scaleY(1.3);
    -o-transform: scaleX(1.1) scaleY(1.3);
    transform: scaleX(1.1) scaleY(1.3);
}

/*Focus Input*/

.input:focus + .focus-input {
    visibility: visible;
    opacity: 1;

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

/*------------------------------------------------------------------
[ Button ]*/
.login-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 60px;
    background-color: #333333;
    border-radius: 10px;

    font-family: Poppins-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;

    /* Force button Sign in to change hover color immediately */

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    z-index: 1;
}

.login-form-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 0;
    left: 0;
    background: #a64bf4;
    background: -webkit-linear-gradient(45deg, #00dbde, #fc00ff);
    background: -o-linear-gradient(45deg, #00dbde, #fc00ff);
    background: -moz-linear-gradient(45deg, #00dbde, #fc00ff);
    background: linear-gradient(45deg, #00dbde, #fc00ff);
    opacity: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login-form-btn:hover:before {
    opacity: 1;
}

/*===========[ Responsive ]============*/


@media (max-width: 850px) {
/*.wrap-login {
    padding-left: 60px;
    padding-right: 60px;
}*/
.facebook,
.google {
    width: 90%;
    }
}

@media (max-width: 650px) {
.wrap-login {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
}