.video_below_slide {
	width: 100%;
	height: 100%;
}
.block_video {
	position: relative;
	text-align: center;
	color: rgba(255,255,255,0.8);
}
.video_text {
	position: absolute;
	text-align: left;
	font-size: 30px;
	font-weight: lighter;
	left: 8%;
	bottom: 25%;
}
@media screen and (max-width: 1300px) {
	.home_slide {
		margin-bottom: 0;
	}
	.block_video {
		margin-top: 0px;
		margin-left: -8px;
	}
	.video_text {
		color: rgba(0, 0, 0, 1);
		background-color: rgba(0,0,0,0.1);
		position: relative;
		text-align: center;
		padding-top:5%;
		padding-bottom: 5%;
		left: 1%;
	}
}